*.pyc
.ipynb_checkpoints
includes/
_layouts/
_site/
combined.ipynb
combined_files/
css/
favicon-144.png
favicon-152.png
favicon.ico
images/
indigo
indigo-jekyll-master/
js/
master.zip
notebooks/*.html
notebooks/*.nbconvert.ipynb
notebooks/*.v2.ipynb
notebooks/boids_1.mp4
notebooks/draw_eight.py
notebooks/eight
notebooks/eight.py
notebooks/greengraph/
notebooks/maze.json
notebooks/maze.yaml
notebooks/mazetool/
notebooks/my_graph.png
notebooks/mydata.txt
notebooks/myfile.json
notebooks/myfile.yaml
notebooks/mywrittenfile
notes.pdf
_includes
notebooks.zip
