dist: trusty
language: python
sudo: required
python:
- '3.6'
cache: pip
addons:
  apt:
    packages:
    - pandoc
    - texlive-latex-base
    - texlive-latex-extra
    - texlive-fonts-recommended
    - texlive-latex-recommended
    - texlive-generic-recommended
    - texlive-xetex
    - latex-xcolor
    - liblapack-dev
install:
- pip install --upgrade pip setuptools wheel
- pip install -r requirements.txt
- pip install git+https://github.com/jakevdp/JSAnimation.git
- gem install jekyll
- gem install redcarpet
script:
- python -c "import matplotlib.pyplot"
- make
before_install:
- openssl aes-256-cbc -K $encrypted_4014292b586d_key -iv $encrypted_4014292b586d_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar -xvf secrets.tar
- REPO=`git config remote.origin.url`
- SSH_REPO=${REPO/https:\/\/github.com\//git@github.com:}
- eval `ssh-agent -s`
- chmod 600 deploy_key
- ssh-add deploy_key
after_success:
- cd _site
- git init
- git checkout -b gh-pages
- git config --global user.email "jamespjh@gmail.com"
- git config --global user.name "Pushed by Travis CI"
- git add .
- git commit -m "Pushed by Travis"
- git remote add origin $SSH_REPO
- git push -f -u origin gh-pages
